@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                <div class="content">
                    <h3>Dlaczego my?</h3>
                    <p>
                        Zakład fryzjerski Grażyna oferuje szeroką gamę usług i zabiegów fryzjerskich, które wyzwolą prawdziwe piękno trwałej ondulacji.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>Przyjazna atmosfera</h4>
                                <p>Guma Turbo i soczek Cymes dla każdego klienta.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Szlagierowe fryzury</h4>
                                <p>Możliwość cięcia "od garnka" lub na "czeskiego piłkarza".</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>Najlepsze sprawunki</h4>
                                <p>Możliwość zakupu partnerskiego czasopisma "Działka moje hobby."</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->