@using Microsoft.AspNetCore.Identity;
@model IEnumerable<UserRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Użytkownicy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Login
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th>
                Rola
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
            </tr>
        }
    </tbody>
</table>
