@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Dziękujemy za potwierdzenie :)";
}

<h1>@ViewData["Title"]</h1>
<p>
    Teraz możesz się zalogować klikając <a id="confirm-link" href="Account\Login">TUTAJ</a>
</p>