@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Potwierdź swój Email klikając <a id="confirm-link" href="@Model.EmailConfirmationUrl">TUTAJ</a>
</p>
    }
    else
    {
<p>
        Konieczne potwierdzenie konta. Sprawdź swoją skrzynkę mailową :)
</p>
    }
}
