@page
@model RegisterConfirmationModel
@using Microsoft.Extensions.Options
@inject IOptions<Hairdresser.Models.ReCAPTCHA> _keys
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
<br />
<h4>
    Autoryzuj swój Email poprzez potwierdzenie tożsamości. To ważne, gdyż botów ostrzyc nie można.
</h4>

<br />
<form method="post">
    <center>
        <div class="g-recaptcha" data-sitekey="@_keys.Value.ReCAPTCHA_Site_Key"></div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="btn btn-primary"> Potwierdź </button>
    </center>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}